################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bank/bin/Debug/netstandard2.0
/TestProjectXUnit/bin/Debug/net6.0
/TestProjectXUnit/obj
/Bank/obj
